body {
    font-family: "Roboto",sans-serif;
    background-color: #FFFFFF;
    color: #434455 
}

.nav-menu {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

button {
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    /* border-radius: 4px; */
    padding: 16px 32px;
    /* width: 169px; */
    /* height: 56px; */
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); */
    background: #4D5AE5;
}

ul, ol {
    list-style: none;
}